:root{
    --main-hue : #DFE0E2;
    --current-page-hue : #79313A;
    --accent-hue : #EB5160;
    --top-text-hue : #071013;
    --border-hue : rgb(0, 67, 70);
    --button-hue : rgb(118, 30, 91);
}
body{
    margin: 0;
    font-family:'Annie Use Your Telescope';
    background-color: var(--main-hue);
}

.tablink{
    font-family:'Annie Use Your Telescope';
    background-color: var(--main-hue);
    color: var(--top-text-hue);
    float:left;
    border:none;
    outline:none;
    cursor:pointer;
    padding: 14px 16px;
    font-size: 17px;
    width:50%;
}
#active{
    background-color: var(--current-page-hue);
    color: white;
}
.tablink:hover{
    background-color:var(--accent-hue);
}

.tabcontent{
    color: white;
    display: none;
    padding: 50px;
    text-align:center;
}

.content div{
    display: inline;
}
.content h1{
    text-align: center;
}
.left{
    margin:5%;
    background-color: var(--accent-hue);
    border-color: var(--border-hue);
    float:left;
    width: 45%;
    overflow: hidden;
}
.right{
    margin:5%;
    background-color: var(--accent-hue);
    border-color: var(--border-hue);
    float:right;
    width:45%;
    overflow: hidden;
}
.header{

}
button[submit]{
    border-radius: 12px;
}

