:root{
    --main-hue : rgb(9, 188, 138);
    --current-page-hue : rgb(23, 42, 58);
    --accent-hue : rgb(117, 221, 221);
    --top-text-hue : rgb(0, 27, 70);
    --border-hue : rgb(0, 67, 70);
    --button-hue : rgb(5, 128, 104);
}
body{
    margin: 0;
    font-family:'Annie Use Your Telescope';
    background-color: var(--main-hue);
}

.tablink{
    font-family:'Annie Use Your Telescope';
    background-color: var(--main-hue);
    color: var(--top-text-hue);
    float:left;
    border:none;
    outline:none;
    cursor:pointer;
    padding: 14px 16px;
    font-size: 17px;
    width:50%;
}
#active{
    background-color: var(--current-page-hue);
    color: white;
}
.tablink:hover{
    background-color:var(--accent-hue);
}

.tabcontent{
    color: white;
    display: none;
    padding: 50px;
    text-align:center;
}

.content div{
    display: inline;
}
.content h1{
    text-align: center;
}
.left{
    margin:5%;
    background-color: var(--accent-hue);
    border-color: var(--border-hue);
    float:left;
    width: 45%;
    overflow: hidden;
}
.right{
    margin:5%;
    background-color: var(--accent-hue);
    border-color: var(--border-hue);
    float:right;
    width:45%;
    overflow: hidden;
}

